doctype html
html
  head
    link(rel="stylesheet" href="/build/main.css")
  
  body
    .container
      h1 hello 2
      
      p client side template below
      hr
      
      div(test1)
      
      div(coffee-mess)
    
  
  script(src="/build/main.js")
  