doctype html
html
  head
    link(rel="stylesheet" href="/build/main.css")
  
  body
    .container
      h1 hello
      
      p client side template below
      hr
      
      div(test1)
    
    
    
    
  script(src="/build/main.js")
  