h2 Coffee Class Test


table.table.table-striped.table-bordered(style="width:300px")
  thead
    tr
      td Item
      td 
  tbody
    tr(ng-repeat="thing in cc.things")
      td.col-xs-10 {{thing}}
      td: button.btn.btn-warning(ng-click="cc.remove($index)") &times;
  tfoot
    tr
      td
        form(ng-submit="cc.add()")
          input.form-control(type="text",ng-model="cc.item")
      td
        button.btn.btn-primary(ng-click="cc.add()") add